<!-- <head>
</head>
<div ng-if="showGoToSalesAdmin==true"> <a class="goto-sales-admim-btn" href="javascript:void(0);" ng-click="gotoSalesAdmin();"> Go to Sales Admin </a> </div> 
<div align="center"><h1>DASHBOARD</h1>
<div>
	<highchart id="chart1"  config="chartConfig"></highchart>
</div>
</div> 

 -->
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>bkr :: administration</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script type="text/javascript"></script>
</head>
<body>

	<div id="content">
		 
		<div class="add-product-section">
			<div class="add-product">Orders  </div>
			 <div ng-if="showGoToSalesAdmin==true"> <a class="goto-sales-admim-btn" href="javascript:void(0);" ng-click="gotoSalesAdmin();"> Go to Sales Admin </a> </div>
			
			<div class=" add-product-box add-product-table">
			   	<div>
					<highchart id="chart1"  config="chartConfig"></highchart>
				</div>
		</div>
		 
	</div>
	
</body>
</html>














