<html>
<head>

 

 <style type="text/css">
      .styledRadio {
      display: inline-block;
    }

  //
   #idConfirmDialogReName {
        width: 450px;
        height: 165px;
        background-color: whitesmoke;
        }
       #idConfirmDialogReName .btn {
        width: 70px;
        margin-bottom: 8px;
        margin-right: 15px;
        margin-top: 80px;
        float: right;
        }
       #idConfirmDialogReName h3 {
        margin-left: 60px;
        margin-top:15px;
        }
       #idConfirmDialogReName img {
        float: left;
        margin-left: 15px;
        margin-top: 25px;
        }

 #idConfirmDialog {
        width: 450px;
        height: 165px;
        background-color: whitesmoke;
        }
       #idConfirmDialog .btn {
        width: 70px;
        margin-bottom: 8px;
        margin-right: 15px;
        margin-top: 80px;
        float: right;
        }
       #idConfirmDialog h3 {
        margin-left: 60px;
        margin-top:15px;
        }
       #idConfirmDialog img {
        float: left;
        margin-left: 15px;
        margin-top: 25px;
        }
    
    </style>

  <script type="text/javascript">
  

    function reNameSection(idForReName,nameForReName) {
      confirmDialogReName ('<div style="font-size:18px;">Are you sure, you want to Rename this Section?</div>', alert);
      //req hideen input for old class id?
      jQuery('#newSectionName').val("");
      jQuery('#oldSectionName').val(nameForReName);
      jQuery('#hiddenClassID').val(idForReName);
    }

     function disableSection(idForReName,nameForReName) {
      confirmDialog ('<div style="font-size:18px">Are you sure, you want to disable this Section?</div>', alert);
      //jQuery('#hiddenClassID').val(idForReName);
    }
    
    function disableClassAfterConfirm(){
      var oldClassID =jQuery('#hiddenClassID').val(); 
      var schoolNames = jQuery("#schoolNames").val();
      var branchNames = jQuery("#branchNames").val();//feature purpose
      ClassMasterDWR.disableCLassMaster(branchNames,oldClassID,function(data) {
            if(data == "success"){
              setError("schoolNames","Success");
              classMasterLoadDisplay();
            }else   if(data == "notexist"){
              setError("schoolNames","Section Name  Not Exist");
            }else{
            setError('schoolNames', "Fail");
          }   
      });
      
    }

  function closeConfirmDialogReName () {
      $("#idConfirmDialogReName").modal ('hide'); 
      };
    function okConfirmDialogReName () {
      $("#idConfirmDialogReName").modal ('hide'); 
     // reNameClassAfterConfirm();//need integration
      };
    function confirmDialogReName (prompt, callback) {
      document.getElementById ("idConfirmDialogPromptReName").innerHTML = prompt;
      //confirmDialogCallback = callback;
      $("#idConfirmDialogReName").modal ("show");
      }

 function closeConfirmDialog () {
      $("#idConfirmDialog").modal ('hide'); 
      };
    function okConfirmDialog () {
      $("#idConfirmDialog").modal ('hide'); 
      disableClassAfterConfirm();
      };
    function confirmDialog (prompt, callback) {
      document.getElementById ("idConfirmDialogPrompt").innerHTML = prompt;
      confirmDialogCallback = callback;
      $("#idConfirmDialog").modal ("show");
      }

  </script>

</head>
<body>
<!-- Static navbar -->


<div style=""><span id ="errorspan" style="color:red;font-size: 14px;font-weight: bold;" >&nbsp;</span></div>
<div class="reg_mainCon">
  <form>
    <fieldset>
    <legend><img src="./client/assets/images/list_add_user.PNG" class="img-circle">&nbsp;&nbsp;Section Details</legend>
<div style="padding: 7px 20px 20px;">
<span ng-hide="saveSuccess">Failed to add new section</span>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
                <td><label style="color:#000;"><b>Select Class</b></label></td>
                <td><select class="span3"  name="classNames"  ng-model="classesId" ng-change="fetchAllSectionsByBranchAndRegionAndClass();"  id="selClassesID" >
                        <option value="-1" selected="selected">Select</option> 
                        <option value="0">UKG</option>
                        <option value="1">Standard 1</option>
                        <option value="2">Standard 2</option>
                        <option value="3">Standard 3</option>                      
                       </select>                   
                 </td>
        </tr>
     <tr><td colspan="4"><label style="color:#000; text-align:center; font-size:18px; line-height:28px;"><b>Create New Section</b></label></td></tr>
    <tr>
          <td colspan="4" style="text-align: center;">
          <div style="display: inline-block;"><label style="color:#000;"><b>Section Name</b></label></div>
          <div align="left" style="display: inline-block;">
              
              <select class="span3" name="branchNames" ng-model="sectionId" ng-change="selectSectionName();" id="selSectionID">
                        <option value="-3" selected="selected" >Select</option>
                        <option value="-2">Sec-3</option>
                        <option value="-1">Sec-2</option>
                        <option value="0">Sec-1</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                       </select>      
               <!-- <input class="span3" type="text" placeholder="" id='newClassID' name='newClassID'> -->
          <div style='display:inline-block;'><a href="javascript:void(0);" ng-click='saveSectionMaster();' style='margin-top: -4px;'  class="icon-plus"></a></div>
             <!--  <button type="button" class="btn">Add</button> -->
            </div></td>
        </tr>
      </table>
    </div>
    
  <div id="sectionAreaID" style="line-height:50px; text-align:center; font-size:14px; color:#666666;">


<table class="table table-bordered" width="100%" style="margin-bottom:0px;" ng-show="showSections" >
                  
                <tr><th style="text-align: center;">Section Name</th><th style="text-align: center;">Rename</th><th style="text-align: center;">Disable</th></tr>
                     <tr ng-show="showSections" ng-repeat="cls in sectionsList">
                           <td style="text-align: center;">{{cls.sectionName}}</td>
                           <td style="text-align: center;">
                          <a href="javascript:void(0);" ng-click="reNameSection(cls.sectionClassId, cls.sectionName)" >
                          <i class="icon-edit"></i></a></td>
                          <td style="text-align: center;"><a href="javascript:void(0);" ng-click="disableSection(cls.sectionClassId)" ><i class="icon-trash"></i></a></td>
                          </tr>
                </table>
		<table class="table table-bordered" width="100%" style="margin-bottom:0px;" ng-hide="showSections" id="testTable">
		<tr>
		<td colspan="3" style="color:red;font-size:16px;font-weight:bold;text-align: center;background-color:silver ">No Classes Found</td>													
		</tr>
		</table>
  </div>
    
  <div style="padding-bottom: 11px;"></div>



    </fieldset>
  </form>
</div>
<div style="height:20px;"></div>
</div>
<!-- /container -->

   <div id="idConfirmDialogReName" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
      <img src="./client/assets/images/alert.gif"  width="34" height="28" alt="confirm icon" /><h3 id="idConfirmDialogPromptReName"></h3>
        <div style="text-align: center;">
          <label style="color:#000;">Old:</label><input disabled="disabled" type="text" class="span2" id='oldSectionName' />
          <label style="color:#000;">New:</label><input type="text" class="span2" id='newSectionName' ng-model="newSectionName" />
        </div>
        <br/>
        <div >
          <a href="javascript:void(0);" class="btn btn-primary" style="margin-top: 0px;" ng-click="updateSectionName();">Yes</a>
          <a href="javascript:void(0);" class="btn" style="margin-top: 0px;" ng-click="cancelUpdateSectionName();">No</a>
      </div>
      </div>
      
     <div id="idConfirmDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
      <img src="./client/assets/images/alert.gif"  width="34" height="28" alt="confirm icon" />
      <h3 id="idConfirmDialogPrompt"></h3>
        <div >
          <a href="javascript:void(0);" class="btn btn-primary" style="margin-top: 0px;" ng-click="disableSectionAfterConfirmName();">Yes</a>
          <a href="javascript:void(0);" class="btn" style="margin-top: 0px;" ng-click="cancelDisableSectionName();">No</a>
      </div>
      </div>    


</body>
</html>
