
<!-- Static navbar -->
<div class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container"><a class="brand" href="#"><span style="color:#ec7717;">Track</span><span style="color:#000;">nTune</span> </a>
    </div>
  </div>
</div>

<div class="container" ng-controller="AuthenticationController">
  <div style="margin:80px 0px;">
<form  class="form-signin"   ng-submit="login();">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="text" class="input-block-level" placeholder="Email address" id="username" ng-model="userName" name="username" >
      <input type="password" class="input-block-level" placeholder="Password" id="password"  ng-model="password"  name="password">
      <label class="checkbox">
      <input type="checkbox" value="remember-me">
      Remember me </label>
      <input class="btn btn-warning" type="submit" value="Login"></input>
    </form>
  </div>
</div>
<!-- /container -->


<footer class="footer" style="position:relative;bottom:0px;width:100%;">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <ul class="footer-links">
      <li><a href="http://blog.getbootstrap.com">Blog</a></li>
      <li class="muted">-</li>
      <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
      <li class="muted">-</li>
      <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
    </ul>
  </div>
</footer>





