<!DOCTYPE html>
<html>
<head>

  <script src="./client/assets/js/bootstrap-jquery.js"></script>
  <script src="./client/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="./client/assets/js/bootstrap-radio.js"></script>
<meta charset="utf-8">
<title>Welcome to TracknTune</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--fav and touch icons -->
<link rel="shortcut icon" href="../../docs/assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

 <style type="text/css">
      .styledRadio {
      display: inline-block;
    }
    
    </style>

  <script type="text/javascript">
   $(function(){
      $('input:checkbox').screwDefaultButtons({
        image: 'url("img/checkboxSmall.jpg")',
        width: 20,
        height: 20
      });
        });
  </script>

</head>
<body>
<div ng-controller="MainController">
<!-- Static navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    

    <div class="container"><a class="brand" href="#"><span style="color:#ec7717;">Track</span><span style="color:#000;">nTune</span> </a>
    

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="active"><a href="#">Admin</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div style="height:80px;"></div>
<div ng-view>

</div>
<div style="height:20px;"></div>

<!-- /container -->
<footer class="footer" style="position:fixed;bottom:0px;width:100%;">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <ul class="footer-links">
      <li><a href="http://blog.getbootstrap.com">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
    </ul>
  </div>
</footer>

</div>
</body>
</html>
